<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Related Records</h4>
      </div>
      <app-accordion
            title="Individual Details"
            [desc]=""            
          >
      <div class="cardBody">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Created Date</th>
                <th>Last Modified Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      </app-accordion>
    </div>
  </div>
</div>
