<section class="query-section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary pointerClass" (click)="isHidden = !isHidden">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-category">{{desc}}</p>
          </div>
          <div class="card-body" [hidden]="isHidden">
            <ng-content select=".cardBody"></ng-content>
          </div>
          <div class="card-footer" [hidden]="!isHidden">
              <ng-content select=".cardFooter"></ng-content>
            </div>
        </div>
      </div>
    </div>
  </section>
  