.big-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-icon i{
    font-size: 100px;
}
.center{
    text-align: center;
}
.confirmText{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.modal-content{
    background-color: transparent;
    border: none;
    box-shadow: unset;
}