<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Confirmation
            </h4>
        </div>
<div class="card-body min-height-200">
  <div class="confirmText">
      <span>Do you want to procced with <span class="bold">{{totalRecord}} records</span>  to be inserted in <span class="bold">{{targetOrgName}} </span> org?</span>
    </div>
    <div class="btn-container">
        <button type="button" class="btn btn-normal pull-left" (click)="onNoClick()">No</button>  
        <button type="button" class="btn btn-primary pull-right" (click)="onYesClick()">Yes</button>   
    </div>
  </div>

</div>
</div>
</div>