<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Export to Target Org
            </h4>
        </div>

        <div *ngIf="sStepper == 'ENV2_DATA_AVAILABLE'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="btn-container min-height-200">
            <button type="button" class="btn btn-primary" (click)="exportParentRec()">
              Export Parent Record
            </button>
            <button type="button" class="btn btn-primary" (click)="exportRelRec()">
              Export {{source.curObjName}} related record
            </button> 
          </div>

        </ng-template>
        <ng-template #elseBlock>
          <div *ngIf="!isConfirmModalOpen; else confirmModal">
            <form [formGroup]="form" (ngSubmit)="loginToOrg()">
                <div class="card-body">
                  <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
                  <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                              <h3>Source:</h3>
                            </div>
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="URL" [value]="[this.source.srcBaseUrl]" (change)="queryStringBuilder()" disabled="true">
                              </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [value]="[this.source.srcUsername]" disabled="true">
                              </mat-form-field>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-2 big-icon">
                      <span ><i class="material-icons">arrow_right_alt</i></span>
                    </div>
                    <div class="col-md-6">
                      
                      <div class="row">
                        <div class="col-md-12">
                            <h3>Destination:</h3>
                          </div>
                        <div class="col-md-10">
                          <mat-form-field>
                              <div *ngIf="!isFormDisbaled; then thisEnvBlock else thatEnvBlock"></div>
                                <ng-template #thisEnvBlock>
                                    <mat-select placeholder="Environment" formControlName="env">
                                        <mat-option value="production">Production </mat-option>
                                        <mat-option value="sandbox">Sandbox</mat-option>
                                    </mat-select>
                                </ng-template>
                                <ng-template #thatEnvBlock>
                                    <mat-select placeholder="Environment" disabled="true">
                                        <mat-option value="production">Production </mat-option>
                                        <mat-option value="sandbox">Sandbox</mat-option>
                                    </mat-select>
                                </ng-template>
                            </mat-form-field>
                        </div>
                        <div class="col-md-10">
                            <mat-form-field class="example-full-width">
                                <div *ngIf="!isFormDisbaled; then thisBlock else thatBlock"></div>
                                <ng-template #thisBlock>
                                    <input matInput placeholder="Username" formControlName="email" >
                                </ng-template>
                                <ng-template #thatBlock>
                                    <input matInput placeholder="Username" [value]="[this.dest.email]" disabled="true">
                                </ng-template>
                              </mat-form-field>
                        </div>
                        <div class="col-md-10">
                            <mat-form-field class="example-full-width">
                                <div *ngIf="!isFormDisbaled; then thisPassBlock else thatPassBlock"></div>
                                <ng-template #thisPassBlock>
                                    <input matInput placeholder="Password" formControlName="password" type="password">
                                </ng-template>
                                <ng-template #thatPassBlock>
                                    <input matInput placeholder="Password" [value]="[this.dest.password]" type="password" disabled="true">
                                </ng-template>
                              </mat-form-field>
                        </div>
                      </div>                     
                      
                    </div>
                  </div>
                  <div class="btn-container">                    
                    <div *ngIf="sStepper == 'CHANGE_TARGET_ORG'; then proceedBlock else loginBlock"></div>
                    <ng-template #proceedBlock>
                      <button type="button" class="btn btn-primary" (click)="changeTargetOrg()">Change Target Org</button>
                      <button type="button" class="btn btn-primary" (click)="proceedToExport()">Proceed</button> 
                    </ng-template>
                    <ng-template #loginBlock>
                      <button type="button" class="btn btn-primary" (click)="loginToOrg()">Login</button>
                    </ng-template>
                                         
                  </div>
                  <!--</form>-->
                </div>
              </form>
        </div>

        </ng-template>
      </div>
    </div>
  </div>
  
  