<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Export to Target Org
            </h4>
        </div>

        <div *ngIf="isEnv2DataAvailable; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="btn-container min-height-200">
            <button type="button" class="btn btn-primary" (click)="exportParentRec()">
              Export Parent Record
            </button>
            <button type="button" class="btn btn-primary" (click)="exportRelRec()">
              Export {{source.curObjName}} related record
            </button> 
          </div>

        </ng-template>
        <ng-template #elseBlock>
          <div *ngIf="!isConfirmModalOpen; else confirmModal">
            <form [formGroup]="form" (ngSubmit)="loginToOrg()">
                <div class="card-body">
                  <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
                  <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                              <h3>Source:</h3>
                            </div>
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="URL" [value]="[this.source.srcBaseUrl]" (change)="queryStringBuilder()" disabled="true">
                              </mat-form-field>
                              <!--
                            <div class="form-group bmd-form-group">
                              <label class="">URL</label>
                              <input
                                type="text"
                                class="form-control"
                                [value]="[this.source.srcBaseUrl]"
                                disabled="true"
                              />
                            </div>-->
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [value]="[this.source.srcUsername]" disabled="true">
                              </mat-form-field>
                              <!--
                            <div class="form-group bmd-form-group">
                              <label class="">Username</label>
                              <input
                                type="text"
                                class="form-control"
                                [value]="[this.source.srcUsername]"
                                disabled="true"
                              />
                            </div>-->
                          </div>
                        </div>
                    </div>
                    <div class="col-md-2 big-icon">
                      <span ><i class="material-icons">arrow_right_alt</i></span>
                    </div>
                    <div class="col-md-6">
                      
                      <div class="row">
                        <div class="col-md-12">
                            <h3>Destination:</h3>
                          </div>
                        <div class="col-md-10">
                          <mat-form-field>
                              <mat-select placeholder="Environment" formControlName="env" >
                                  <mat-option value="production">Production </mat-option>
                                  <mat-option value="sandbox">Sandbox</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <!--
                          <div class="form-group bmd-form-group">
                              <label class="">Environment</label>
                              <select class="form-control" formControlName="env" data-style="select-with-transition" title="Environment" data-size="7" >                        
                                  <option value="production">Production </option>
                                  <option value="sandbox">Sandbox</option>
                                </select>
                          </div>-->
                        </div>
                        <div class="col-md-10">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" formControlName="email">
                              </mat-form-field>
                          <!--<div class="form-group bmd-form-group">
                            <label class="">Username</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="email"
                              required
                            />
                          </div>-->
                        </div>
                        <div class="col-md-10">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" formControlName="password" type="password">
                              </mat-form-field>
                            <!--<div class="form-group bmd-form-group">
                              <label class="">Password</label>
                              <input
                                type="text"
                                class="form-control"
                                formControlName="password"
                                required
                              />
                            </div>-->
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-md-8 center">
                              <button type="submit" class="btn btn-primary ">Login</button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!--</form>-->
                </div>
              </form>
        </div>

        </ng-template>
      </div>
    </div>
  </div>
  
  