.big-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-icon i{
    font-size: 100px;
}
.center{
    text-align: center;
}
.confirmText{
    margin-top: 10px;
    font-size: 20px;
}
.mat-form-field {
    width: 100%;
}
.btn-container, .card-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.min-height-200 {    
    min-height: 200px;
}
.bold {
    font-weight: bold;
}
.card-body .btn-container{
    width: 100%;
}
.card-body.min-height-200{
    flex-direction: column;
}