/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-dialog-container{
    background: transparent;
    box-shadow: unset;
    max-width: 800px;
    min-width: 800px;
}
