<div class="container">
<div class="col-md-6">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">contacts</i>
          </div>
          <h4 class="card-title">Please Login to continue.</h4>
        </div>
        {{form.value.email}} --
        {{email}}
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-body ">
          
            <div class="form-group bmd-form-group">
              <label for="exampleEmail" class="bmd-label-floating">Email Address</label>
              <input type="email" class="form-control" formControlName="email" required>
            </div>
            <div class="form-group bmd-form-group">
              <label for="examplePass" class="bmd-label-floating">Password</label>
              <input type="password" class="form-control"  formControlName="password" required="true">
            </div>
            
          
        </div>
        <div class="card-footer ">
          <button type="submit" class="btn btn-fill btn-rose">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>