<form [formGroup]="exportForm">
  Value: {{ exportForm.value | json }}

  <hr />

  <div formArrayName="queries">
    <app-accordion
      [title]="['Export']"
      [desc]=""
      *ngFor="let query of queryForms.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="cardBody">
        <section>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="" for="objects">Object</label>
              <select
                class="form-control "
                formControlName="object"
                id="objects"
                (change)="objectChangeHandler($event, i)"
              >
              <option
                *ngFor="let item of objects; index as i"
                [ngValue]="objects[i]"
                >{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="" for="field">Fields</label>
              <select class="form-control multiple-fields" formControlName="field" id="field" multiple 
              (change)="queryStringBuilder()">
                  <option *ngFor="let item of fields; let i = index" [ngValue]="item.value">{{
                      item.viewValue
                    }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="" for="sortBy">SortBy</label>
                  <select
                    class="form-control "
                    formControlName="sortBy"
                    id="sortBy"
                    (change)="queryStringBuilder()"
                  >
                  <option *ngFor="let item of fields; let i = index" [ngValue]="item.value">{{
                      item.viewValue
                    }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="" for="sortDir">Sort Direction</label>
                  <select
                    class="form-control "
                    formControlName="sortDir"
                    id="sortDir"
                  >
                    <option value="asc">A to Z</option>
                    <option value="desc">Z to A</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="" for="null">Null</label>
                  <select
                    class="form-control "
                    formControlName="null"
                    id="null"
                  >
                    <option>Nulls First</option>
                    <option>Nulls Last</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="" for="maxRecord">Max Record</label>
                  <input
                    type="text"
                    class="form-control"
                    id="maxRecord"
                    formControlName="maxRecord"
                    (keyup)="queryStringBuilder()"
                  />
                </div>
              </div>
            </div>      
               
              <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="" for="fieldName">Filter Result By</label>
                        <select class="form-control " formControlName="filterBy" id="filterBy">
                            <option *ngFor="let item of fields; let i = index" [ngValue]="item.value">{{
                                item.viewValue
                              }}</option>
                        </select>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="" for="operator">Operator</label>
                        <select class="form-control " formControlName="operator" id="operator">
                          <option value="=">Equal</option>
                          <option value="!=">Not Equal</option>
                        </select>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="" for="fieldValue">Field Value</label>
                        <input
                          type="text"
                          class="form-control"
                          id="fieldValue"
                          formControlName="fieldValue"
                        />
                      </div>
                </div>
                

              </div>            
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating" for="queryEditor"
                  >Enter or modify a SOQL query below:</label
                >
                <textarea class="form-control" id="queryEditor" rows="3"> {{queryString}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                type="button"                
                class="btn btn-primary pull-left"
                (click)="querySOQL(i)"
              >
                Query
              </button>
              
            </div>
          </div>
          <div class="clearfix"></div>
        </section>
        <section
    class="result-section"
    [ngClass]="show_result == true ? 'show' : 'hide'"
    >
    <div class="row">
    <div class="col-md-12">
      <div class="res-header">
          <h4 class="res-title">Results</h4>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="res-body">
              <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <tr>
                        <th *ngFor="let item of columns">
                          {{item}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        
                      <tr  *ngFor="let result of resultsFields; let rInd = index" (click)="setClickedRow(rInd)" [class.active]="rInd == selectedRow">                      
                        <td *ngFor="let column of columns">{{result[column]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <button type="button" (click)="downloadButtonPush()" class="btn btn-primary pull-left">
                  Export to CSV
                </button>
                <!-- data-toggle="modal" data-target="#exportToOrgModal" -->
                <button type="button" class="btn btn-normal pull-left margin-left-10" (click)="openDialog('desc')">
                    Export to Org
                  </button>
              <button
                type="button"
                (click)="viewRelatedRecord()"
                class="btn btn-primary pull-right"
              >
                View Related Record
              </button>
            </div>
          </div>
    </section>
      </div>
      <div class="cardFooter">
        <div class="row">
          <div class="col-md-12">
            <button
              type="button"
              (click)="addquery()"
              class="btn btn-success pull-left"
            >
              <i class="material-icons">add</i>
            </button>
            <button
              type="button"
              (click)="deletequery(i)"
              class="btn btn-danger pull-left"
            >
              <i class="material-icons">remove</i>
            </button>
            <button type="button" class="btn btn-primary pull-right">
              Export to CSV
            </button>
          </div>
        </div>
      </div>
    </app-accordion>
  </div>  
</form>
