<form [formGroup]="exportForm">
  Value: {{ exportForm.value | json }}

  <hr />

  <div formArrayName="queries">
    <app-accordion
      [title]="['Export']"
      [desc]=""
      *ngFor="let query of queryForms.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="cardBody">
        <section>
        <div class="row">
          <div class="col-md-3">
              <mat-form-field>
                  <mat-select placeholder="Object" formControlName="object" (selectionChange)="objectChangeHandler($event, i)">
                    <mat-option *ngFor="let object of objects" [value]="object.value">
                      {{object.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <mat-form-field>
                  <mat-select placeholder="Fields" formControlName="field" (selectionChange)="queryStringBuilder()" multiple>
                    <mat-option *ngFor="let item of fields" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                  <mat-form-field>
                      <mat-select placeholder="SortBy" formControlName="sortBy" (selectionChange)="queryStringBuilder()" >
                        <mat-option *ngFor="let item of fields" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field>
                      <mat-select placeholder="Sort Direction" formControlName="sortDir" (selectionChange)="queryStringBuilder()" >
                          <mat-option value="ASC">A to Z</mat-option>
                          <mat-option value="DESC">Z to A</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field>
                      <mat-select placeholder="Nulls" formControlName="null" (selectionChange)="queryStringBuilder()" >
                          <mat-option value="NULLS FIRST">Nulls First</mat-option>
                          <mat-option value="NULLS LAST">Nulls Last</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Max Record" formControlName="maxRecord" value=""  (change)="queryStringBuilder()">
                    </mat-form-field>
              </div>
            </div>      
               
              <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Filter Result By" formControlName="filterBy" (selectionChange)="queryStringBuilder()" multiple>
                          <mat-option *ngFor="let item of fields" [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Operator" formControlName="operator" (selectionChange)="queryStringBuilder()" >
                            <mat-option value="=">Equal</mat-option>
                            <mat-option value="!=">Not Equal</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Field Value" formControlName="fieldValue" value=""  (change)="queryStringBuilder()">
                      </mat-form-field>
                </div>
                

              </div>            
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="queryEditor"
                  >Enter or modify a SOQL query below:</label
                >
                <textarea class="form-control" id="queryEditor" rows="3"> {{queryString}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                type="button"                
                class="btn btn-primary pull-left"
                (click)="querySOQL(i)"
              >
                Query
              </button>
              
            </div>
          </div>
          <div class="clearfix"></div>
        </section>
        <section
    class="result-section"
    [ngClass]="show_result == true ? 'show' : 'hide'"
    >
    <div class="row">
    <div class="col-md-12">
      <div class="res-header">
          <h4 class="res-title">Results</h4>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="res-body">
              <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <tr>
                        <th *ngFor="let item of columns">
                          {{item}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        
                      <tr  *ngFor="let result of resultsFields; let rInd = index" (click)="setClickedRow(rInd)" [class.active]="rInd == selectedRow">                      
                        <td *ngFor="let column of columns">{{result[column]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <button type="button" (click)="downloadButtonPush()" class="btn btn-primary pull-left">
                  Export to CSV
                </button>
                <!-- data-toggle="modal" data-target="#exportToOrgModal" -->
                <button type="button" class="btn btn-normal pull-left margin-left-10" (click)="openDialog('desc')">
                    Export to Org
                  </button>
              <button
                type="button"
                (click)="viewRelatedRecord()"
                class="btn btn-primary pull-right"
              >
                View Related Record
              </button>
            </div>
          </div>
    </section>
      </div>
      <div class="cardFooter">
        <div class="row">
            <div class="col-md-1"> 
              <button
              type="button"
              (click)="addquery()"
              class="btn btn-success pull-left"
            >
              <i class="material-icons">add</i>
            </button></div>
            <div class="col-md-1">
                <button
                type="button"
                (click)="deletequery(i)"
                class="btn btn-danger pull-left"
              >
                <i class="material-icons">remove</i>
              </button>
            </div>
            <div class="col-md-10">
                <button type="button" class="btn btn-primary pull-right">
                    Export to CSV
                  </button>
            </div>          
        </div>
      </div>
    </app-accordion>
  </div>  
</form>
