.nav-link.selected{
    background-color: #ab47bc;
    color: white;
}
.sidebar .nav li>a.selected:hover, .sidebar .nav li>a.selected:focus, .sidebar .nav li>a.selected{
    background-color: #ab47bc;
    color: white;
}
.textTransform p{
    text-transform: initial;
}
.sidebar .logo .simple-text{
    font-weight: bold;
    text-transform: initial;
    font-size: 30px;
}
.nav-item{
    cursor: pointer;
}